.site-header {
    --minimum-height: 250px;

    /* an arbitrary 'large' height */
    /* min-height: var(--minimum-height); */

    min-height: var(--minimum-height);
    
    /* position the background image so that it shows as much as possible */
    /* background-image: url(img/header_image.jpg); */
    background-image: url(/images/background_lowres.jpg);
    background-image: url(/images/background.jpg);
    /* background-color: rgb(36, 18, 192); */
    background-position: center center;
    background-repeat: none;
    background-size: cover;

    margin-bottom: var(--unit-space);
}

/* Blur the safe-area's background, past its margins. */
.site-header > .site-header-bar { 
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
@supports not ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
    .site-header > .site-header-bar { background-color: black; }
}

/* Adjust header height for vertical screen size. */
@media screen and (max-height: 400px) { .site-header { --minimum-height: 200px; } }
@media screen and (max-height: 300px) { .site-header { --minimum-height: 150px; } }

/**
 * Site Header Layout
 */

 .site-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
 }
 .site-header > .site-header-bar {
    flex: 0 0 auto;
    width: 100%;
 }
 .site-header-bar > .safe-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: flex
}

/**
 * Site Title Text Style
 */

.site-title {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    flex-basis: auto;
    flex-grow: 1;
    margin-right: var(--unit-space);
}
.site-title,
.site-title :hover,
.site-title :visited {
    color: white;
    text-decoration: none;
}

/**
 * Site Navigation Text Style
 */

.site-nav { line-height: 56px; font-size: 18px; }
.site-nav > .page-link,
.site-nav > .current-page-link {
    color: white;
    font-weight: 300;
    line-height: var(--line-height);
    text-align: center;
}
.site-nav > .current-page-link { color: rgb(255, 110, 110); }

/**
 * Site Navigation Layout
 */

.site-nav { margin: 0; padding: 0; flex-basis: auto; flex-grow: 1; }

.site-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;
}

/* Put at least a 5 pixel space between each link. */
.site-nav > * { margin: 0; margin-left: 10px; }
.site-nav > :first-child { margin-left: 0; }
