/* Fonts */
@media all {
	/* The altece logo font */
	@font-face {
		font-family: Altece;
		src: url(fonts/Altece/altece.ttf), 
			url(fonts/Altece/altece.woff), 
			url(fonts/Altece/altece.otf), 
			url(fonts/Altece/altece.svg), 
			url(fonts/Altece/altece.eot);
		font-style: normal;
		font-weight: normal;
	}

	/* The font used in the nav bar */
	@font-face {
		font-family: Comfortaa;
		src: url(fonts/Comfortaa/Comfortaa-Regular.ttf);
	}

	@font-face {
		/*Thankyou Google Webfonts*/
		font-family: 'Asap';
		font-style: normal;
		font-weight: 400;
		src: local('Asap'), local('Asap-Regular'), url('http://themes.googleusercontent.com/static/fonts/asap/v1/nvGvEwsMAvkIa6w2U-PXffesZW2xOQ-xsNqO47m55DA.woff') format('woff');
	}

	@font-face {
		/*Thankyou Google Webfonts*/
		font-family: 'PT Sans';
		font-style: normal;
		font-weight: normal;
		src: local('PT Sans'), local('PTSans-Regular'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v3/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
	}
}

