@media all {
    div {
        width: 100%;
        height: 100%;
        margin: 0pt;
        padding: 0pt;
        border: none;
        position: static;
    }
    div#content {
        padding: 0pt 0pt;
        margin: 0pt 20pt;
        padding-bottom: 10pt;
        max-width: 100%;
        width: auto;
        min-height: 100%;
        height: auto;
    }

    body {
    }

    /* header tags */
    h1 {
        margin: 0pt;
        margin-top: .5em;
        padding: 0pt;
    }
    h2 {
        margin: 0pt;
        margin-top: .5em;
        padding: 0pt;
    }
    h3 {
        margin: 0pt;
        margin-top: .5em;
        padding: 0pt;
    }
    h4 {
        margin: 0pt;
        margin-top: .5em;
        padding: 0pt;
    }
    h5 {
        margin: 0pt;
        margin-top: .5em;
        padding: 0pt;
    }
    h6 {
        margin: 0pt;
        margin-top: .5em;
        padding: 0pt;
    }
    /* header tags end */

    header {
    }

    header#alias {
        margin: 5pt;
        margin-top: 20pt;
        margin-left: 0pt;
        padding: 0pt;
        padding-top: 2.5pt;
        padding-left: 20pt;
        display: table;
    }

    header#alias span {
        display: table-cell;
        float: left;
    }

    p {
        padding: 0pt;
        padding-left: 1pt;
    }

    article {
        display: table;
    }

    section {
    }

    figure {
        max-width: 300pt;
        margin: .5em;
        float: right;
        display: table-cell;
    }

    figcaption {
        margin: 0pt;
        padding: 0pt;
    }

    blockquote {
    }

    figure img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    figure img.small {
        width: 100pt;
    }
    figure img.medium {
        width: 200pt;
    }
    figure img.large {
        width: 275pt;
    }

    figure a.button {
        width: 100%;
        margin: auto;
        padding: 0pt;
    }

    aside {
    }

    footer {
    }

    mark {
    }

    nav {
    }

    a.button {
        padding: 1pt 5pt;
		background-image: url(img/dark_background.png);
		background-repeat: repeat;
		display: inline-block;
		width: auto;
	}
    nav a.button {
        background-image: none;
    }
	nav a.button-selected {
        background-image: url(img/dark_background.png), url(img/dark_background.png);
		background-repeat: repeat, repeat;
    }
	a.button:hover {
		background-image: url(img/dark_background.png), url(img/dark_background.png);
		background-repeat: repeat, repeat;
	}
    a.button-wide {
        width: 100%;
        padding-right: 0pt;
        padding-left: 0pt;
    }
    a.button-list {
        margin-right: 5pt;
    }
}

/* thin windows and smartphones */
@media all and (max-width: 550pt), 
(width: 550pt),
only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (orientation : portrait) {
    header#alias {
        margin-top: 20pt;
    }

	nav {
		line-height: 1em;
		padding: 0pt;
	}
	nav a {
		margin-top: 0pt;
		margin-bottom: 0pt;
		line-height: 1em;
	}

    figure {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
		max-width: 100%;
    }

	figure img {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    figure img.small {
        width: 100%;
    }
    figure img.medium {
        width: 100%;
    }
    figure img.large {
        width: 100%;
    }
}

