<article>
<header><h2>Graphing</h2></header>

<figure>
    <img src='/images/projects/Graphing/GraphingIco.png' class='medium' />
    <figcaption>
        <a href='http://itunes.apple.com/app/graphing/id481789533?mt=8' class='button'>
            Free on the App Store
        </a>
    </figcaption>
</figure>


<p>Graphing is an iOS app, written in Objective-C with CocoaTouch,
for both the iPhone and iPod Touch that allows the user to
manipulate simple graphs to find isomorphic graphs.</p>


<p>The user uses an adjacency matrix to input adjacencies between
six vertices, and then can see the resulting graph with the
vertices in a C6 position. Then, the user can move around the
vertices to find any isomorphic graph they desire.</p>


<p>A cool use of the program is to move the vertices around to try
to find a planar isomorphic graph, or to find a K5 or K(3,3) graph
to prove that it is non-planar.</p>


</article>

