<article>
<header><h2>Gravity.app</h2></header>

<figure>
	<img src="/images/projects/Gravity/GravityIco.png" class="medium" />
	<figcaption>
		<a href="https://docs.google.com/leaf?id=0B_GG5K1tAsKLNzE4ZDBlODAtZTY4ZS00YWI0LWEyZjItN2IxZjRmOTg3Mjg3&hl=en_US" class="button">
			Download Gravity.app
		</a>
	</figcaption>
</figure>

<p>Gravity.app is a program, written in Objective-C for the Mac, 
that simulates Newtonian Gravity between any number of circles 
on a 2D plane.</p>

<p>The Gravitational Constant has been changed from 6.11x10^-11 
to 6.11x10^-1 to allow for the effects of gravity to show 
more drastically to the user (otherwise, almost nothing seems 
to happen).</p>

<p>A cool way to use the program is to create two objects, one
with a mass of 1000, a position of (0, 0), and a velocity of
(0, 0), and another with a mass of 0, a position of (100, 0),
and a velocity of (0, 2.5). This results in a near-circular
orbit.</p>

</article>

