/**
 * Footer Text and Appearance
 */

.site-footer { color: var(--grey); border-top: 1px solid var(--light-grey); }

.site-footer .contact-list,
.site-footer .social-media-list { list-style: none; list-style-type: none; padding: 0; }



/**
 * Flex Layout
 */

.site-footer > .safe-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-around;
}


/**
 * General Footer Layout
 */

.site-footer { 
    display: block; margin: 0; 
    padding: var(--unit) 0;
    padding-bottom: calc(var(--unit) + env(safe-area-inset-bottom));
}
@supports(padding: max(0px)) {
    .site-footer { padding-bottom: max(var(--unit), env(safe-area-inset-bottom)); }
}

.site-footer > .safe-area > * { margin-bottom: var(--unit); }



/**
 * Footer Layout Resizing Logic
 */

.site-footer > .safe-area > .contact-section { flex-basis: 0 0 5%; }
.site-footer > .safe-area > .social-media-section { flex-basis: 0 0 20%; }
.site-footer > .safe-area > .site-description { flex: 0 0 45%; }
@media screen and (max-width: 800px) {
    .site-footer > .safe-area { justify-content: flex-start; }
    .site-footer > .safe-area > * { flex: 1 1 50%; }
    .site-footer > .safe-area > .site-description { flex: 2 2 100%; }
}
@media screen and (max-width: 600px) {
    .site-footer > .safe-area > * { flex: 1 1 100%; }
}
