/**
 * Constants
 */

.site-header { --minimum-height: 250px; }
@media screen and (max-height: 400px) { .site-header { --minimum-height: 200px; } }
@media screen and (max-height: 300px) { .site-header { --minimum-height: 150px; } }



/**
 * Visual Appearance
 */

.site-header {
    background-image: url(/images/background.jpg);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}

/* Blur the safe-area's background, past its margins. */
.site-header > .site-header-bar { 
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
@supports not ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
    .site-header > .site-header-bar { background-color: black; }
}



/**
 * Text Syle
 */

.site-header-bar,
.site-header-bar a { color: var(--white-text); text-decoration: none; }

h1.site-title { font-size: 2.5em; font-weight: 300; margin: 0; }
@media screen and (max-width: 400px) { h1.site-title { font-size: 2.2em; } }

.site-nav * { font-size: larger; font-weight: 300; }
.site-nav .current-page-link { color: var(--red-text); }



/**
 * Flex Layout
 */

.site-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}

.site-header-bar > .safe-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
}

.site-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;
    overflow-x: auto;
}



/**
 * Layout
 */

.site-header {
    min-height: var(--minimum-height);
    margin-bottom: var(--unit-space);
}

.site-header > .site-header-bar { 
    flex: 0 0 auto; width: 100%;
    padding-top: var(--ultra-space);
}

.site-header-bar > .safe-area { width: 100%; }

.site-title {
    display: inline; flex: 1 1 auto;
    margin-right: var(--unit-space);
}
@media screen and (max-width: 700px) {
    .site-title { margin-right: 0; }
}

.site-nav { margin: 0; padding: 0.5em 0; flex: 1 1 auto; }
.site-nav > * { margin: 0; margin-left: 10px; }
.site-nav > :first-child { margin-left: 0; }
