/**
 * Color Constants
 */

 :root {
    --grey: #828282;
    --light-grey: #d3d3d3;
    --dark-grey: #5f5f5f;

    --text-color: black;
    --background-color: #fdfdfd;
    --code-background-color: #eef;

    --white-text: white;
    --red-text: #ff6e6e;
    --link-text: blue;
}

/**
 * Layout Constants
 */

:root { --list-indent: 22px; }

:root {
    --less-space: calc(var(--unit-space) * 0.75);
    --unit-space: 15px;
    --more-space: calc(var(--unit-space) * 1.5);
    --extra-space: calc(var(--unit-space) * 2);
}
@media screen and (max-width: 400px) {
    :root { --unit-space: 10px; }
}

:root {
    --font-size: 16px;
    --font-size-small: calc(var(--font-size) * 0.875);
    --font-weight-bold: 400;
}



/**
 * Body and Safe-Area Setup
 */

* { box-sizing: border-box; border-style: hidden; }

body { display: block; margin: 0; padding: 0; background-color: #fdfdfd; }

.safe-area { display: block; max-width: 800px; margin: 0 auto; padding: 0; }



/**
 * iPhone X Support
 */

.safe-area {
    --safe-area-inset-top: 0;
    --safe-area-inset-bottom: 0;
    --safe-area-inset-left: var(--unit-space);
    --safe-area-inset-right: var(--unit-space);

    padding-left: var(--safe-area-inset-left);
    padding-right: var(--safe-area-inset-right);

    --safe-area-inset-left: calc(var(--unit-space) + env(safe-area-inset-left));
    --safe-area-inset-right: calc(var(--unit-space) + env(safe-area-inset-right));
}
@supports (padding: max(0px)) {
    .safe-area {
        --safe-area-inset-left: max(var(--unit-space), env(safe-area-inset-left));
        --safe-area-inset-right: max(var(--unit-space), env(safe-area-inset-right));
    }
}
