/**
 * Unit Constants
 */

:root {
    --smallest-unit: calc(var(--unit) * 0.15);
    --smaller-unit: calc(var(--unit) * 0.5);
    --small-unit: calc(var(--unit) * 0.75);
    --unit: 16px;
    --large-unit: calc(var(--unit) * 1.5);
    --larger-unit: calc(var(--unit) * 2);
    --largest-unit: calc(var(--unit) * 3.5);
}

@media screen and (max-width: 400px) { 
    :root { --unit: 10px; }
}



/**
 * Color Constants
 */

 :root {
    --grey: #828282;
    --light-grey: #d3d3d3;
    --dark-grey: #5f5f5f;
    --darker-grey: #161616;

    --text-color: black;
    --background-color: #fdfdfd;
    --code-background-color: #eef;

    --white-text: white;
    --red-text: #ff6e6e;
    --link-text: blue;
}



/**
 * Body and Safe-Area Setup
 */

* { box-sizing: border-box; border-style: hidden; }

body { display: block; margin: 0; padding: 0; background-color: #fdfdfd; }

.safe-area { display: block; max-width: 800px; margin: 0 auto; padding: 0; }



/**
 * iPhone X Support
 */

.safe-area {
    --safe-area-inset-top: 0;
    --safe-area-inset-bottom: 0;
    --safe-area-inset-left: var(--unit);
    --safe-area-inset-right: var(--unit);

    padding-left: var(--safe-area-inset-left);
    padding-right: var(--safe-area-inset-right);

    --safe-area-inset-left: calc(var(--unit) + env(safe-area-inset-left));
    --safe-area-inset-right: calc(var(--unit) + env(safe-area-inset-right));
}
@supports (padding: max(0px)) {
    .safe-area {
        --safe-area-inset-left: max(var(--unit), env(safe-area-inset-left));
        --safe-area-inset-right: max(var(--unit), env(safe-area-inset-right));
    }
}
