/* Fonts */
@media all {
	/* The altece logo font */
	@font-face {
		font-family: Altece;
		src: url(fonts/Altece/altece.ttf), 
			url(fonts/Altece/altece.woff), 
			url(fonts/Altece/altece.otf), 
			url(fonts/Altece/altece.svg), 
			url(fonts/Altece/altece.eot);
		font-style: normal;
		font-weight: normal;
	}

	/* The font used in the nav bar */
	@font-face {
		font-family: Comfortaa;
		src: url(fonts/Comfortaa/Comfortaa-Regular.ttf);
	}

	@font-face {
		/*Thankyou Google Webfonts*/
		font-family: 'Asap';
		font-style: normal;
		font-weight: 400;
		src: local('Asap'), local('Asap-Regular'), url('http://themes.googleusercontent.com/static/fonts/asap/v1/nvGvEwsMAvkIa6w2U-PXffesZW2xOQ-xsNqO47m55DA.woff') format('woff');
	}

	@font-face {
		/*Thankyou Google Webfonts*/
		font-family: 'PT Sans';
		font-style: normal;
		font-weight: normal;
		src: local('PT Sans'), local('PTSans-Regular'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v3/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
	}
}



/* Global */
@media all {
	html {
		height: 100%;
		width: 100%;
	}

	body {
		min-height: 100%;
		margin: 0px 0px;
		padding: 20px 20px;
		padding-bottom: 0px;
		padding-top: 0px;
		font-size: 15px;
	}

	div#experimental_top {
		background-image: url(img/dark_background.png);
		background-repeat: repeat;
		background-position: top left;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		color: white;
	}

	span#alias {
		font-family: Altece, sans-serif;
		font-size: .75em;
		margin-right: -.5em;
		margin-top: -.5em;
		display: inline-block;
	}
	span#alias a {
		font: inherit;
		text-decoration: none;
		color: inherit;
	}
	span#name {
		font-family: Comfortaa, sans-serif;
		font-size: .70em;
		display: inline-block;
		margin-top: -.5em;
	}
}



/* Navigation */
@media all {
	nav {
		background-image: url(img/top_border.png), 
			url(img/bottom_border.png), 
			url(img/dark_background.png);
		background-repeat: repeat-x, repeat-x, repeat;
		background-position: top left, bottom right, top left;
		padding: 10px 20px;
		text-align: center;
		/* text-justify: inter-word;
		text-align: justify; */
	}
	nav a {
		font-family: Comfortaa, sans-serif;
		font-size: 1.5em;
		padding: 2px 5px;
		margin: 0 2px;
		line-height: 2em;
		border-radius: 5px;
		/*background-image: url(background.png);
		background-repeat: repeat;*/
		color: white;
		font-variant: small-caps;
		text-decoration: none;
		display: inline-block;
	}
	nav a:hover {
		background-image: url(img/dark_background.png);
		background-repeat: repeat;
		color: #32d1f3;
	}
}



/* Content */
@media all {
	section {
		width: 100%;
		padding: 10px 0px;
	}

	article {
		width: 100%;
		padding: 10px 0px;
		font-size: 16px;
		font-family: 'PT Sans', sans-serif;
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}

	header {
		/*font-family: Helvetica, sans-serif;*/
		font-family: PTSans-Regular, sans-serif;
		font-size: 3em;
		padding-top: .25em;
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}

	figure {
		max-width: 400px;
		/* max-width: 100%; */
		padding: 5px;
		margin: .5em;
		float: right;
		background-image: url(img/content_background.png);
		box-shadow: inset 0 0 10px -3px black;
		border-radius: 5px;
	}
	figure img {
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	figure img.small {
		width: 100px;
	}
	figure img.medium {
		width: 200px;
	}
	figure img.large {
		width: 300px;
	}
	figcaption {
		width: 100%;
		display: block;
		text-align: center;
		font-size: .9em;
	}

	blockquote {
		max-width: 100%;
		display: block;
		margin: .5em auto;
		padding: .5em;
		padding-left: 3em;
		padding-right: 1em;
		font-family: PTSans-Regular, sans-serif;
		font-size: 1.25em;
	}

	a {
		color: blue;
	}

	a.button {
		font-family: Comfortaa, sans-serif;
		font-size: 1.25em;
		padding: 2px 5px;
		padding-top: 7px;
		margin: .5em auto;
		border-radius: 5px;
		background-image: url(img/dark_background.png);
		background-repeat: repeat;
		color: white;
		font-variant: small-caps;
		text-decoration: none;
		text-align: center;
		font-weight: 100;
		display: inline-block;
		width: auto;
	}
	a.button:hover {
		color: #32d1f3;
		/*box-shadow: inset 0 0 10px 0px black;*/
		background-image: url(img/dark_background.png), url(img/dark_background.png);
		background-repeat: repeat, repeat;
	}
}

@media (max-width: 600px), (width: 600px) {
	figure {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}



/* Adjusts the background image based on the width */
/* iPhone-esque Size */
@media all and (max-width: 440px), (width: 440px) {
	html {
		background-image: url(img/background.png);
		background-repeat: repeat;
		background-position: top left;
	}
	body {
		background: none;
	}
}
/* iPad-esque Size */
@media all and (min-width: 440px) and (max-width: 940px), (width: 940px) {
	html {
		background-image: url(img/design_2.png), url(img/background.png);
		background-size: cover, none;
		background-repeat: no-repeat, repeat;
		background-position: center center left fixed, top left;
		background-attachment: fixed;
	}
}
/* Computer Size */
@media all and (min-width: 940px) {
	html {
		background-image: url(img/design_2.png), url(img/background.png);
		background-size: contain, none;
		background-repeat: no-repeat, repeat;
		background-position: center center left fixed;
		background-attachment: fixed;
	}
}



/* Adjusts the body and content size based on the screen width */
@media (max-width: 860px), (width: 860px) {
	body {
		width: 100%-10px;
		background-image: url(img/content_background.png);
		background-position: top right;
		background-repeat: repeat;
	}
	nav {
		width: 100% + 40px;
		margin-left: -20px;
		margin-right: -20px;
	}
}
@media (min-width: 860px) {
	body {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 30px;
		padding-right: 30px;
		background-image: url(img/full_background.png);
		background-size: contain;
		background-repeat: repeat-y;
	}
	nav {
		width: 100% + 38px;
		margin-left: -19px;
		margin-right: -19px;
	}
}


