
/* Global */
@media all {
	div#experimental_top {
		background-image: url(img/dark_background.png);
		background-repeat: repeat;
		background-position: top left;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		color: white;
	}

	span#alias {
		font-family: Altece, sans-serif;
		font-size: .75em;
		margin-right: -.5em;
		margin-top: -.5em;
		display: inline-block;
	}
	span#alias a {
		font: inherit;
		text-decoration: none;
		color: inherit;
	}
	span#name {
		font-family: PTSans-Regular, sans-serif;
		font-size: .70em;
		display: inline-block;
		margin-top: -.5em;
	}
}



/* Content */
@media all {
	section {
		width: 100%;
		padding: 10px 0px;
	}

	article {
		width: 100%;
		padding: 10pt 0px;
		font-size: 16px;
		font-family: 'PT Sans', sans-serif;
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}

	header {
		/*font-family: Helvetica, sans-serif;*/
		font-family: PTSans-Regular, sans-serif;
		font-size: 3em;
		padding-top: .25em;
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}

	figure {
		max-width: 400px;
		padding: 5px;
		margin: .5em;
		float: right;
		box-shadow: none;
	}
	figure img {
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	figure img.small {
		width: 100px;
	}
	figure img.medium {
		width: 200px;
	}
	figure img.large {
		width: 300px;
	}
	figcaption {
		width: 100%;
		display: block;
		text-align: center;
		font-size: .9em;
	}

	blockquote {
		max-width: 100%;
		display: block;
		margin: .5em auto;
		padding: .5em;
		padding-left: 3em;
		padding-right: 1em;
		font-family: PTSans-Regular, sans-serif;
		font-size: 1.25em;
	}

	a {
		color: blue;
	}

	a.button {
		font-family: PTSans-Regular, sans-serif;
		font-size: 1.25em;
		padding: 2pt 5pt;
		padding-top: 7pt;
		margin: .5em auto;
		background-image: url(img/dark_background.png);
		background-repeat: repeat;
		color: white;
		//font-variant: small-caps;
		text-decoration: none;
		text-align: center;
		font-weight: 100;
		display: inline-block;
		width: auto;
	}
	a.button:hover {
		color: #32d1f3;
		/*box-shadow: inset 0 0 10px 0px black;*/
		background-image: url(img/dark_background.png), url(img/dark_background.png);
		background-repeat: repeat, repeat;
	}
    a.button-wide {
        width: 100%;
        padding-right: 0pt;
        padding-left: 0pt;
    }
    a.button-list {
        margin-right: 5pt;
    }
}

@media (max-width: 600px), (width: 600px) {
	figure {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

