<article>
<header><h2>Calendar Project</h2></header>

<a href="http://www.pixelapse.com/steve/projects/Featured%20Works/Calendar%20Project/">Pixelapse Link to .ai Files</a>

<p>While in a Vector Imaging class instructing how to use Adobe Illustrator, an assignment was given to create four three-month calendars illustrating the months they contain. I decided to illustrate the four seasons with a semi-subtle abstract representation of the mood or feeling of the seasons as they change month-to-month. The result was a collection of an illustration of the sky and ground throughout the seasons, showing time progressing into the seasons through the months from the top to the bottom of each calendar.</p>

</article>

