<article>
<header><h2>Planet</h2></header>

<figure><img class="medium" src="./images/portfolio/Planet.png" /></figure>
<a href="https://www.pixelapse.com/steve/projects/Featured%20Works/Planet.ai">Pixelapse Link to .ai File</a>

<p>Planets are cool. While in my Vector Imaging class, one project was to create album artwork. A common theme when I listen to music is space--when I listen to music, I tend fall into a fantasy of surreal futuristic space images--so I decided to depict a planet in the dark of space. I found an image of Earth and began to trace the shapes of land masses. Soon thereafter, I began adding clouds and an atmosphere, and eventually a black and burple nebula cloud behind the planet to give it a nice hubble look.</p>

</article>

