<footer class="site-footer">
  <div class="safe-area">

    <section class="contact-section">
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </section>

    <section class="social-media-section">
      <ul class="social-media-list">
        {% for profile in site.online_profiles %}
        <li>
          <a href="{{ profile.url }}" title="{{ profile.network }}">
            <img class="symbol" 
                 rel="image/svg+xml"
                 src="{{ profile.network | append: '.svg' | prepend: '/images/icons/' }}">
            {{ profile.username }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section class="site-description">
      <p>{{ site.description }}</p>
    </div>

  </div>
</footer>
