<footer class="site-footer">
  <div class="safe-area">

    <section class="contact-section">
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li id="email-address-location">
        </li>
      </ul>
      <div class="g-recaptcha"
           data-sitekey="{{ site.recaptcha_key }}"
           data-callback="didGenerateRecaptchaToken"
           data-size="invisible">
      </div>
    </section>

    <section class="social-media-section">
      <div class="social-media-list">
      <!-- <ul class="social-media-list"> -->
        {% for profile in site.online_profiles %}
        <!-- <li> -->
          <a href="{{ profile.url }}" title="{{ profile.network }}">
            <img class="symbol" 
                 rel="image/svg+xml"
                 src="{{ profile.network
                       | append: '.svg'
                       | prepend: '/images/icons/'
                       | prepend: site.baseurl
                       | prepend: site.url }}">
            {{ profile.username }}
          </a>
        <!-- </li> -->
        {% endfor %}
      <!-- </ul> -->
      </div>
    </section>
  </div>
</footer>
