<footer class="site-footer">
  <div class="safe-area">
    <section class="contact-section">
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </section>

    <section class="social-media-section">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </section>

    <section class="site-description">
      <p>{{ site.description }}</p>
    </div>
  </div>
</footer>
