<header class="site-header">
  <div class="site-header-bar">
    <div class="safe-area">
      <h1 class="site-title">
        <a class="site-title" href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      
      <nav class="site-nav">
        {% for site_page in site.pages where:'title' %}
        {% if site_page.title %}

          {% capture page_link_class %}
          {% if site_page.title == page.title %}
            {{ "current-page-link" }}
          {% else %}
            {{ "page-link" }}
          {% endif %}
          {% endcapture %}

          <a class="{{ page_link_class }}"
             href="{{ site_page.url | prepend: site.baseurl }}">
            {{ site_page.title }}
          </a>

        {% endif %}
        {% endfor %}
        <a class="page-link" href="http://brun.ws/resume.pdf">Resume</a>
      </nav>
    </div>
  </div>
</header>
